<h2>Validaciones Reactivas</h2>
<div class="row" [formGroup]="miFormulario" 
        (ngSubmit)="submitFormulario()">
    <div class="col">
        <form autocomplete="off">
            <!-- nombre -->
            <div class="row mb-3">
                <label class="col-sm-3  col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                    class="form-control"
                    formControlName="nombre"
                    placeholder="Nombre del usuario">
                    <span class="form-text text-danger" 
                        *ngIf="campoNoValido('nombre')">
                        Debe de ser el formato de nombre y apellido
                    </span>
                </div>                
            </div>
            <!-- email -->
            <div class="row mb-3">
                <label class="col-sm-3  col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                        formControlName="email"
                        class="form-control"
                        placeholder="Email del usuario">
                    <span class="form-text text-danger" 
                        *ngIf="campoNoValido('email')">
                        {{get_emailErrorMsg}}
                    </span>           
                   
                </div>                
            </div>
            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3  col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="text"                      
                        class="form-control"
                        formControlName="username"
                        placeholder="Nombre código de usuario">       
                    <span class="form-text text-danger" 
                        *ngIf="campoNoValido('username')">
                        El username no puede ser Strider
                    </span>              
                </div>                
            </div>

             <!-- password -->
             <div class="row mb-3">
                <label class="col-sm-3  col-form-label">password</label>
                <div class="col-sm-9">
                    <input type="password"
                        formControlName="password"
                        class="form-control"
                        placeholder="password de su cuenta">
                    <span class="form-text text-danger" 
                        *ngIf="campoNoValido('password')">
                        El password debe de ser mayor de 6 caracteres
                    </span>  
                   
                </div>                
            </div>
            <!-- password2 -->
            <div class="row mb-3">
                <label class="col-sm-3  col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                        formControlName="password2"
                        class="form-control"
                        placeholder="Confirmar la contraseña">
                    <span class="form-text text-danger" 
                            *ngIf="campoNoValido('password2')">
                    Las contraseñas deben de ser iguales
                    </span>  
                </div>                
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end" 
                        [disabled]="miFormulario.pending"
                        type="submit">
                        Crear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<h2>Form Valid: {{miFormulario.valid}}</h2>
<h2>Form Status: {{miFormulario.status}}</h2>
<h2>Form Pending: {{miFormulario.pending}}</h2>
<h2>Form errors</h2>
<pre>{{miFormulario.errors | json}}</pre>
<h5>Nombre</h5>
<pre>{{miFormulario.controls.nombre.errors | json}}</pre>

<h5>Email</h5>
<pre>{{miFormulario.controls.email.errors | json}}</pre>

<h5>Username</h5>
<pre>{{miFormulario.controls.username.errors | json}}</pre>

<h5>Password</h5>
<pre>{{miFormulario.controls.password.errors | json}}</pre>

<h5>Confirmar</h5>
<pre>{{miFormulario.controls.password.errors | json}}</pre>