<h2>Validaciones Reactivas</h2>
<div class="row">
    <div class="col">
        <form autocomplete="off">
            <!-- nombre -->
            <div class="row mb-3">
                <label class="col-sm-3  col-form-label">Nombre</label>
                <div class="col-sm-9">
                    <input type="text"
                    class="form-control"
                    placeholder="Nombre del usuario">
                    <samp class="form-text text-danger">
                        Debe de ser el formato de nombre y apellido
                    </samp>
                </div>                
            </div>
            <!-- email -->
            <div class="row mb-3">
                <label class="col-sm-3  col-form-label">Email</label>
                <div class="col-sm-9">
                    <input type="email"
                    class="form-control"
                    placeholder="Email del usuario">
                   
                </div>                
            </div>
            <!-- Username -->
            <div class="row mb-3">
                <label class="col-sm-3  col-form-label">Username</label>
                <div class="col-sm-9">
                    <input type="email"
                    class="form-control"
                    placeholder="Nombre código de usuario">
                   
                </div>                
            </div>

             <!-- password -->
             <div class="row mb-3">
                <label class="col-sm-3  col-form-label">password</label>
                <div class="col-sm-9">
                    <input type="password"
                    class="form-control"
                    placeholder="password de su cuenta">
                   
                </div>                
            </div>
            <!-- password2 -->
            <div class="row mb-3">
                <label class="col-sm-3  col-form-label">Confirmar</label>
                <div class="col-sm-9">
                    <input type="password"
                    class="form-control"
                    placeholder="Confirmar la contraseña">
                   
                </div>                
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary float-end" >
                        Crear
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
